*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    background-color: #0c111b;
    font-family: poppins;
    height: 1080px;
}

.back{
  font-family: poppins;
  color: #c7c6c6;
  text-shadow: #fff 0 0 0;
  font-size: 32px;
  margin: 10px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centerd {
    margin: 250px;
    
  }
  
.headline{
    font-size: 38px;
}

.subtit{
    font-size: 24px;
    color: rgb(189, 186, 186);
}

.lgbtn{
    background-color: royalblue;
    padding: 0px 20px;
    margin-top: 30px;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    font-weight: 500;
}
